
.container1 h1{
    font-size: 30px;
    color: white;
}
body{
    background-image: url("photo4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list li{
    list-style-type: none;
    margin: 10px;
}
.list li a{
    text-decoration: none;
    color: orange;
    font-size: 28px;
 }
h1{
    width: 20%;
}
h1 span{
    color: orangered;
    margin-left: 20px;
}
.subcontainer_1{
    width: 45%;
}
.subcontainer_2{
    width: 25%;
    margin-right: 10px;
}
.list2 li{
    list-style-type: none;
    color: white;
    font-size: 19px;
    text-decoration: none;
    float: right;
    margin: 12px;
}
.list2 li a{
    color: white;
    text-decoration: none;
    position: relative;
}
.container2{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: rgba(255,69,0,0.2);





}
.cont2_sub1 div p{
    font-size: 27px;
    color: white;
    margin:40px;
    padding: 2px;
}
.cont2_sub1{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.one_im{
    width:45% ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.one_im span{
    display: flex;
    flex-direction: column;
}
.one{
    width: 100%;
    height: auto;
    opacity: 1;
    max-width: 500px;

}

 .lm a{
    text-decoration: none;
    color: white;
     padding: 10px;
    border-radius: 30px;
     margin-bottom: 5px;
     text-align: center;
    width: 200px;
     height: auto;
    font-size: 28px;
    background-color: rgba(255,126,0,0.5);
    outline: none;
    border: 1px;
     position: absolute;
}
.photo_append{
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: 75%;
    position: absolute;
    margin-top: 230px;
    margin-right:350px;
    opacity: 0.9;
}
.photo2_append{
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius:100%;
    position: absolute;
    margin-top: 230px;
    margin-left: 350px;
    opacity: 0.9;
}
.container3{
    display: flex;
    flex-direction: column;
    background-color:rgba(230,230,230,0.8);
    align-items: center;
}
.cont3_sub2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}
.cont3_sub1 h1{
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin-top: 80px;
}
.cont3_sub2a, .cont3_sub2b,.cont3_sub2c{
    font-size: 30px;
    width: 25%;
    border-top: 3px black solid;
    border-bottom:3px black solid;
    margin-bottom: 10px;
}
.lm1{
    color: darkslateblue;
    text-decoration: none;

}
.container4{
    display: flex;
    flex-direction: column;


}
.cont4_sub2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:rgba(255,125,0,0.2);


}
.img{
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 100%;
}
.cont4_sub1 h1{
    text-align: center;
    color: white;
    width: 100%;
    border-bottom: 4px dashed brown;
}
.test1,.test2,.test3{
    background-color: rgba(255,125,0,0.2);
    align-items: center;
}
.tp{
    color: white;
    font-size: 20px;
    align-items: center;
}



